const path = require('path')
const name = '中国移动公益' // page title
function resolve(dir) {
  return path.join(__dirname, dir)
}
module.exports = {
  publicPath: './',
  outputDir: 'dist',
  assetsDir: 'static',
  productionSourceMap: false,
  //关闭eslint
    lintOnSave: false,
  devServer: {
    // host:'192.168.124.49',
    // port:8080,
    proxy: {
      "/": {
        // target: "https://gm-test.cmicvip.cn",
        target: "http://10.3.99.90:18080",
        changeOrigin: true,
        pathRewrite: {
          '^/': ''
        }
      },
    }
  },
  // rules:[
  //   {
  //     test: /\.scss$/,
  //     loaders: ["style", "css", "sass"]
  //   }
  // ]
  configureWebpack: {
    name: name,

  },
  chainWebpack(config) {
    config.module
      .rule('svg')
      .exclude.add(resolve('src/icons'))
      .end()
    config.module
      .rule('icons')
      .test(/\.svg$/)
      .include.add(resolve('src/icons'))
      .end()
      .use('svg-sprite-loader')
      .loader('svg-sprite-loader')
      .options({
        symbolId: 'icon-[name]'
      })
      .end()
    // config.rules=[
    //   {
    //     test: /\.s[ac]ss$/i,
    //     use: [
    //       // Creates `style` nodes from JS strings
    //       "style-loader",
    //       // Translates CSS into CommonJS
    //       "css-loader",
    //       // Compiles Sass to CSS
    //       "sass-loader",
    //     ],
    //   },
    // ]
    // .test(/\.scss$/)
    // .loader("style", "css", "sass")
    // .end()
  }
};
